.login-cont-outer{
  position:absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  background-color: rgba(34, 9, 56, 0.892);
  height: 485px;
  width: 470px;

}

.login-page-head{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(40, 30, 30, 0.852);
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: rgba(0, 255, 187, 0.861);
  font-size: 1vw; 
}

.login-form{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.328);
    border:none;
    border-radius: 5px;
    padding: 20px;
}

.username-input{
    margin: 15px;
}

.password-input{
    margin: 15px;
}

.login-btn{
  margin: 5px;
}

.login-btn{
  margin: 5px;
}

.login-cont-inner{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
