.retro-card-upload-edit{
  position: absolute;
  top: 100px;
  left: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  background-color: rgba(23, 7, 23, 0.93);
  padding: 10px;
  border:none;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.3);
}

.project-page-cont-upload{
    position: relative;
    background-color: blueviolet;
    border:none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border-radius: 10px;
    height: 1500px;
    width: 1000px;
    margin-top: 450px;
    padding: 1px;
}

.page-head-cont {
    border: none;
    border-radius: 10px;
    position: relative;
    background-color: rgba(57, 21, 92, 0.682);
    height: 340px;
    width: 999.5px;
    margin-top: 0.5px;
}
.main-img {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 300px;
    width: 450px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    margin-left: 505px;
}

.preview-image{
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.overlay h2{
  position: absolute;
  top: 5%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.overlay input{
  position: absolute;
  bottom: 5px;
  left: 350px;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: transparent;
  border-radius: 5px;
}



.intro-card-cont{
    background-color: rgba(0, 0, 0, 0.837);
    position: absolute;
    top: 20px;
    left: 20px;
    height: 300px;
    width: 495px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.intro-card-cont p{
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.intro-card-project-name{
    border-radius: 7px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.introduction-textarea{
    padding: 10px;
    width: 435px;
    height: 195px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.key-features-textarea{
    padding:10px;
    margin-top: 15px;
    margin-left: 5px;
    width: 540px;
    height: 300px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.summary-textarea{
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
    width: 540px;
    height: 550px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.youtube-video-id{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    resize: none;
}

.status-select{
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    left:335px;
    top:12px;
    position: absolute;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
}

.project-title-heading{
    background-color: rgba(0, 255, 255, 0.912);
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.project-info-cont{
    display: flex;
    position: relative;
    background-color: rgb(42, 35, 35);
    height: 1155px;
    width: 996px;
    margin-top:1px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    
}

.project-info-gallery-cont{
    position: absolute;
    right:20px;
    background-color: rgba(140, 68, 227, 0.239);
    height: 1110px;
    width: 330px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.project-video-id {
    position:absolute;
    left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    height: 50px;
    width: 300px;
    resize: none;
    text-align: center;
    align-content: center;
}

.project-info-gallery-cont h3{
    background-color: rgba(137, 43, 226, 0.81);
    border:1px solid rgb(103, 18, 149);
    border-radius: 8px;
    padding: 5px;
    color: rgb(36, 27, 44);
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 5px rgba(154, 64, 214, 0.75);
}

.project-info-heading{
    background-color: rgba(0, 255, 255, 0.912);
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.project-feature-list-upload{
    font-weight: bold;
    color: blueviolet;
    position:absolute;
    top:35px;
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
    margin-right: 20px;
}

.summary-heading{
    background-color: rgba(0, 255, 255, 0.912);
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    margin-top: 400px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.project-info-inner{
    position: relative;
    background-color: rgb(22, 20, 20);
    height: 1110px;
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

.project-summary p{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.social-media-cont h2{
    position: absolute;
    top: 170px;
    left:15px;
    width: 300px;
    background-color: rgba(137, 43, 226, 0.81);
    border:1px solid rgb(103, 18, 149);
    border-radius: 8px;
    color: rgb(36, 27, 44);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(154, 64, 214, 0.75);
}

.social-media-cont{
    position: absolute;
}

.author-support-cont{
    position: absolute;
}

.author-contact-cont{
    position: absolute;
}

.author-support-cont h2{
    position: absolute;
    top: 550px;
    left:15px;
    width: 300px;
    background-color: rgba(137, 43, 226, 0.81);
    border:1px solid rgb(103, 18, 149);
    border-radius: 8px;
    color: rgb(36, 27, 44);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(154, 64, 214, 0.75);
}

.author-contact-cont h2{
    position: absolute;
    top: 790px;
    left:15px;
    width: 300px;
    background-color: rgba(137, 43, 226, 0.81);
    border:1px solid rgb(103, 18, 149);
    border-radius: 8px;
    color: rgb(36, 27, 44);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(154, 64, 214, 0.75);
}

.x-span{
    align-items: center;
    display: flex;
    position: absolute;
    top: 250px;
    width: 280px;
}

.x-span a, 
.facebook-span a, 
.instagram-span a, 
.paypal-span a, 
.patreon-span a,
.contact-span a {
    margin-left: 18px;
    font-size: 20px;
    font-weight: bold;
}

.facebook-span{
    align-items: center;
    display:flex;
    position: absolute;
    top: 350px;
    width: 280px;
}

.instagram-span{
    align-items: center;
    display:flex;
    position: absolute;
    top: 450px;
    width: 280px;
}

.patreon-span{
    align-items: center;
    display:flex;
    position: absolute;
    top: 630px;
    width: 400px;

}

.paypal-span{
    align-items: center;
    display: flex;
    position: absolute;
    top: 720px;
    left: 20px;
    width: 400px;
}

.contact-span{
    align-items: center;
    display: flex;
    position: absolute;
    top: 860px;
    left: 20px;
    width: 400px;
}

.paypal-icon{
    background-color: black;
    border: none;
    border-radius: 5px;
    width:46px;
    height: 47px;
    left: -10px;
    padding-left: 3px;
    padding-right: 3px;
}

.author-email-icon{
    background-color: black;
    border: none;
    border-radius: 5px;
    width:46px;
    height: 47px;
    padding-left: 3px;
    padding-right: 3px;
}

.x-input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border:none;
    align-content: center;
    text-align: center;
}

.facebook-input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border:none;
    align-content: center;
    text-align: center;
}

.instagram-input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border:none;
    align-content: center;
    text-align: center;
}

.patreon-input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border:none;
    align-content: center;
    text-align: center;
}

#paypal-input, #email-input{
  margin-left: 20px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
    border:none;
    align-content: center;
    text-align: center;
}

#submit-changes-btn{
    color: rgb(154, 149, 149);
    position: absolute;
    top:960px;
    left: 65px;
    border-radius: 5px;
    background-color: rgb(33, 30, 30);
    width: 220px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

.card-intro-textarea{
    padding:10px;
    margin-top: 5px;
    margin-left: 5px;
    width: 150px;
    height: 90px;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
}

