.outer-followed{
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(90, 244, 255);
  border-radius: 5px;
  background-color: rgba(85, 18, 90, 0.892);
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.inner-followed {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px ,50px;
  max-width: 100%; /* Keeps it inside the outer container */
  padding: 10px; /* Adds breathing room */
  box-sizing: border-box; /* Ensures padding doesn't push items outside */
}

h1{
  margin-left: auto;
  margin-right: auto;
  color: rgba(40, 30, 30, 0.852);
  border: 2px solid rgb(90, 244, 255);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: rgba(0, 255, 187, 0.861);
  font-size: 5vw; 
}
